# Required (Отримати на https://my.telegram.org/apps)
TELEGRAM_API_ID=1234567
TELEGRAM_API_HASH=abcdef1234567890abcdef1234567890

# Згенерувати локально через скрипт `python login.py`
TELEGRAM_SESSION_STRING=1Bjwpb...

# Webhook Discord-каналу
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXXXX/XXXXXXXXXX
