# Required (Отримати на https://my.telegram.org/apps)
TELEGRAM_API_ID=1234567
TELEGRAM_API_HASH=abcdef1234567890abcdef1234567890

# Згенерувати локально через скрипт `python login.py`
TELEGRAM_SESSION_STRING=1Bjwpb...

# Webhook Discord-каналу
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXXXX/XXXXXXXXXX

# === Панель Керування Роботою (Опціонально) ===
# Додайте ці змінні, щоб увімкнути Admin Bot для перегляду статистики
TELEGRAM_BOT_TOKEN=токен_від_botfather
ADMIN_ID=твій_телеграм_айді
MONGO_URI=твій_mongodb_лінк

GITHUB_REPO=Kredickoa/tg-discord-webhook
GITHUB_BRANCH=main
GITHUB_POLL_INTERVAL_SECONDS=300

#test
